
<div class="container">
    <div class="row">
        <div class="col-12 text-center my-auto">
            <p style="font-size:20;"> Il pagamento e' andato a buon fine. Molte grazie.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-success float-right" href="{{idcourse}}"> Torna al corso </a>
        </div>
    </div>
</div>
