{{!
    @template paygw_voucher/single_voucher
}}
<tr>
    <th scope="row">{{vname}}</th>
    <td>{{vcode}}</td>
    <td class="text-center"><img src="{{vactive}}" alt="active" height="20" width="20"> </td>
    <td>{{vbeing}}</td>
    <td>{{vavailability}}</td>
    <td>{{vleft}}</td>
    <td>
        <a class="btn btn-warning" href="{{vurl}}">EDIT</a>
        <a class="btn btn-danger" href="{{vdel}}">DELETE</a>
    </td> 
</tr>