{{!
    @template paygw_docente/trow_report
}}
<tr>
    <th scope="row">{{accountname}}</th>
    <td>{{description}}</td>
    <td>{{username}}</td>
    <td>{{type}}</td>
    <td>{{amount}} Euro</td>
</tr>